* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #273453;
  background-image: url(../img/mm_reg_bg.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
  color: white;
  height: 100%;
}
.top_img {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.img {
  width: 20vw;
  margin: 20vh 40vw 5vh;
}

.hor_line {
  width: 70vw;
  margin-left: 15vw;
  background-color: #786b3a;
  border: 0;
  height: 2px;
  margin: 3vh 15vw;
  margin-top: 10vh;
}

.text {
  text-align: center;
  margin: 0 2vw;
}

.text_yellow {
  color: #b69e46;
}

.btn {
  margin-top: 15vh;
  border: #a59f59 solid 1px;
  padding: 2% 0;
  width: 36vw;
  text-align: center;
  margin-left: 32vw;
}