* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #273453;
  background-image: url(../img/mm_result_bg.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
  color: white;
  height: 100%;
}

.header {
  font-size: 2rem;
  padding-top: 30%;
  margin-left: 14vw;
}

.info_wrap {
  margin-top: 15%;
}


.matching {
  /* display: block; */
  width: fit-content;
  margin-left: 18vw;
}

.success {
  /* display: block; */
}

.text2 {
  margin-top: 1vh;
}

.text_wrap {
  width: fit-content;
  margin-left: 18vw;
}

.hor_line {
  width: 70vw;
  margin-left: 15vw;
  background-color: #786b3a;
  border: 0;
  height: 2px;
  margin: 3vh 15vw;
}

.info {
  color: #c4b46b;
  margin-left: 20vw;
}

.info_text {
  margin-top: 1vh;
}

.gender {
  margin-left: 2.5rem;
}

.btn {
  background-color: #273453;
  display: block;
  margin-top: 5vh;
  border: #a59f59 solid 1px;
  border-radius: 5px;
  padding: 2% 0;
  width: 36vw;
  text-align: center;
  margin-left: 32vw;
}
