* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #273453;
  background-image: url(../img/mm_reg_bg.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
  color: white;
  height: 100%;
}

/* 弹出提示框 */
/* .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: #777;
  opacity: 0.5;
} */

.tip {
  background-color: #d8d4c4;
  color: black;
  position: fixed;
  border-radius: 6px;
  z-index: 10000;
  width: 80vw;
  margin: 0 10vw;
  visibility: hidden;
}

.tips_header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 8%;
  margin-bottom: 11%;
}

.tips_container {
  width: fit-content;
  margin-left: 7%;
  margin-right: 7%;
}

.tips_two {
  margin-top: 3%;
}

.tips_three {
  margin-top: 3%;
}

.tips_close {
  border: black solid 1px;
  text-align: center;
  font-size: 1rem;
  margin: 10% auto 6%;
  line-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.tips {
  margin-left: 4vw;
}

.tips_front {
  padding-top: 4vh;
}

.btn {
  background-color: #273453;
  border: #a59f59 solid 1px;
  border-radius: 5px;
  padding: 2% 0;
  width: 34vw;
  text-align: center;
  margin-left: 32vw;
}

.redraw {
  margin-top: 1vh;
}

.complete {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.sketchpad {
  width: 100vw;
  margin-top: 10vh;
}

.canvas {
  position: absolute;
  margin-left: 19.21vw;
  margin-right: 19.21vw;
  width: 61.58vw;
  z-index: 1000;
}

.error {
  clear: both;
  min-height: 2rem;
  margin-top: 2vh;
  text-align: center;
  color: #d33c07;
  font-size: 1.2rem;
}
